{% extends "portal/base.html" %}

{% block title %} {{ game.title }} {% endblock %}
{% block image %} {{MEDIA_URL}}{{ game.image }} {% endblock %}
{% block content %}
    {% if game %}
    <div class="jumbotron">
        <div id="animate-area"></div>
    </div>

    <div class="page-header">
        <!-- Game details -->
        <h1> {{ game.title }} </h1>
        <h2> <small> {{ game.tags.all|join:", " }} </h2>
        <h3> <small> Publisher: {{ game.publisher }}</small></h3>
        <h3><small> Release date: {{ game.release_date|date }} </small></h3>
    </div>

    <!-- Game reviews -->
    <div class="page-header"><h2>Reviews</h2></div>
    <ul class="list-group">
    {% for rev in game.review_set.all %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href={% url 'portal.views.review' rev.id %}>
            {{ rev.title }}</a> by {{ rev.author_id }}
            <span class="label label-success" title="karma points"> {{ rev.karma }}</span>
            <span class="label label-danger" title="reports"> {{ rev.reported_count }} </span>
          </h3>
          {{ rev.pub_date|date }}
        </div>
        <div class="panel-body">
          {{ rev.preview }}
        </div>
    </div>
    {% endfor %}
    </ul>
    {% else %}
        <h1> Title? </h1>
    {% endif %}

{% endblock %}
