{% extends "base.html" %}
{% block title %} {{ game.title }} {% endblock %}
{% block image %} {{MEDIA_URL}}{{ game.image }} {% endblock %}
{% block content %}
<!--<style>
  .panel-heading {
    text-align: center;
    color: #ececb0 !imporant;
  }-->
</style>
    <div class="page-header">
      <div class="media">
        <a class="pull-right">
          <img src="{{MEDIA_URL}}{{game.image}}" width="209" height="241" alt="...">
        </a>
        <!-- Game details -->
        <h1>{{ game.title }}</h1>
        <!-- TODO make these tags links-->
        <h2> <small> {{ game.tags.all|join:", " }} </h2>
        <h3> <small> Publisher: {{ game.publisher }}</small></h3>
        <h3><small> Release date: {{ game.release_date|date }} </small></h3>
        <!-- TODO link to write a review page-->
        <form action={% url 'portal.views.review_edit' game.id %}>
          {% csrf_token %}
            <button class="btn btn-primary btn-lg" role="button">Write a Review</button>
        </form>
    </div>

    <!-- Game reviews -->
    <div class="page-header">
      <h2>Reviews<span class="badge pull-right">{{ game.review_set.count }}</span></h2>
      </h2>
    </div>
    <ul class="list-group">
    {% for rev in game.review_set.all %}
      <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
              <span class="label label-success pull-right" title="karma points"> {{ rev.karma }}</span>
            </h4>
          <h3 class="panel-title"><p class="text-primary">
            <a href={% url 'portal.views.review' rev.id %}>
              {{ rev.title }}</a> </p>by {{ rev.author_id }}
            <br>
          </h3>
          <h4>
            <span class="label label-danger pull-right" title="reports"> {{ rev.reported_count }} </span>
            </h4>
          {{ rev.pub_date|date }}
        </div>
        <div class="panel-body">
          {{ rev.preview }}
        </div>
      </div>
    {% endfor %}
    </ul>
{% endblock %}
