{% extends "base.html" %}
{% load mathfilters %}

<!-- Expects question and recent reviews -->
{% block title %} DjangoFett {% endblock %}
{% block content %}
    <!-- display a poll question -->
    <div class="jumbotron">
      <h1>{{ question.question_text }}</h1>
      {% for answer in question.answer_set.all %}
        <div class="btn-group">
          <form action={% url 'portal.views.vote' question.id answer.id %}>
            <button class="btn btn-primary btn-lg" id="vote_btn" role="button">
            {{ answer.answer_text }} </button>
        </form>
        </div>
      {% endfor %}
    </div>

    <!-- recent reviews -->
    <div class="page-header">
      <h3>Reviews  <span class="label label-default left">Recent</span></h3>
    </div>
    <ul class="media-list">
    {% for rev in reviews %}
      <li class="media">
        <a class="pull-left" href={% url 'portal.views.game' rev.game_id.id %}>
          <img class="media-object" src="{{ MEDIA_URL}}{{rev.game_id.image}}" width="104" height="120"
            title="{{ rev.game_id.title }}">
        </a>
        <div class="media-body">
          <h4 class="media-heading"> <a href={% url 'portal.views.review' rev.id %}>{{ rev.title }}</a></h4>
          {{ rev.preview }}
        </div>
      </li>
    {% endfor %}
    </ul>
{% endblock %}
