{% extends "base.html" %}
<!-- {question, highest, rest} -->
{% block content %}
  <div class="jumbotron">
    <h1> {{ question.question_text }}</h1>
  </div>

<!-- Answers -->
  {% if msg %}
  {{ msg }}
  {% endif %}
  <div class="page-header">
    <h1>Results<h1>
  </div>

  <div class="list-group">
  <a class="list-group-item active">
    <span class="badge pull-right">{{ highest.vote_count }}</span>
    {{ highest.answer_text}}
  {% for answer in rest %}
    <a class="list-group-item">
      <span class="badge pull-right">{{ answer.vote_count }}</span>
        {{ answer.answer_text }}
    </a>
  {% endfor %}
  </div>
{% endblock %}
